body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    /* -ms-grid-column:  */
}

#root {
    grid-column: 2 / 3;
}

.App {
    display: grid;
    grid-template-rows: 1fr auto 30px;
    grid-gap: 20px;
    justify-items: center;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-self: stretch;
}

.controls > button {
    border: none;
    background: #ffc600;
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 4px #ffc600;
}

