body {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background: linear-gradient(to left top, #0120ffad, #ea6af9b3),  url('./img/gplaypattern.png');
    height: 100vh;

}

#root {
    grid-column: 2 / 3;
}

.App {
    display: grid;
    grid-template-rows: 1fr auto 50px 30px;
    grid-gap: 20px;
    justify-items: center;
}

.controls.visible,
.controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-self: stretch;
}

.controls > button {
    border: none;
    background: #ffc600;
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 4px #ffc801, 2px 2px 4px rgb(53, 53, 53);
    transition: .4s
}

.controls > button:hover {
    background: #7bc500;
    box-shadow: 0 0 4px #7bc500, 2px 2px 4px rgb(53, 53, 53);
}


.controls.hidden {
    display: none;
}

.status {
    align-self: center;
}

@media (max-width: 500px) {
    .App {
        grid-gap: 15px;
    }

    h1 {
        font-size: 22px;
    }

    .controls {
        grid-gap: 15px;
    }

    .controls > button {
        font-size: 13px;
    }
}


