.Board {
    display: grid;

    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: 
    "1 1 1 2 2 2 3 3 3"
    "1 1 1 2 2 2 3 3 3"
    "1 1 1 2 2 2 3 3 3";
    grid-gap: 1px;
    background: black;
    border: 3px solid black;
}

