.Tile {
    display: block;
}

input[type=tel] {
    height: 50px;
    width: 50px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    border: none;
    caret-color: transparent;
    font-weight: 600;
    transition: background .3s;
}

input[type=tel]:disabled {
    background: #f5f6fc;
    color: rgb(124, 119, 119);
    cursor: not-allowed;
    font-size: 22px;
}

.hl > input {
    background: rgb(206, 223, 245)!important;
}

.selected input[type=tel] {
    background-color: #FFc600!important;
    color: white;
    font-weight: 900;
}

.Tile:nth-of-type(3n) > input {
    border-right: 1px solid black;
}

.Tile:nth-of-type(27n + 1) > input,
.Tile:nth-of-type(27n + 2) > input,
.Tile:nth-of-type(27n + 3) > input,
.Tile:nth-of-type(27n + 4) > input,
.Tile:nth-of-type(27n + 5) > input,
.Tile:nth-of-type(27n + 6) > input,
.Tile:nth-of-type(27n + 7) > input,
.Tile:nth-of-type(27n + 8) > input,
.Tile:nth-of-type(27n + 9) > input {
    border-top: 1px solid black;
}

.Tile:nth-of-type(27n - 1) > input,
.Tile:nth-of-type(27n - 2) > input,
.Tile:nth-of-type(27n - 3) > input,
.Tile:nth-of-type(27n - 4) > input,
.Tile:nth-of-type(27n - 5) > input,
.Tile:nth-of-type(27n - 6) > input,
.Tile:nth-of-type(27n - 7) > input,
.Tile:nth-of-type(27n - 8) > input,
.Tile:nth-of-type(27n - 0) > input {
    border-bottom: 1px solid black;
}

.Tile:nth-of-type(3n+1) > input {
    border-left: 1px solid black;
}

input[type=tel]::-webkit-inner-spin-button,
input[type=tel]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=tel] {
    -moz-appearance: textfield;
    cursor: pointer;
}

/* 
input.dummy[type=tel],
input.dummy[type=tel]:disabled,
input.dummy[type=tel]:focus,
input.dummy[type=tel]:active {
    background-color: white;
    cursor: default;
} */

.dummy[type=tel],
.dummy[type=tel]:disabled,
.dummy[type=tel]:focus,
.dummy[type=tel]:active {
    background-color: white;
    cursor: default;
}

@media (max-width: 500px) {
    input[type=tel] {
        height: 34px;
        width: 34px;
    }
}
